<div class="container">
  <h1>WELCOME TO AN ALBUM SHARING SITE</h1>
  <form action="/" method="post">
    <h3>Login</h3>
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">
  </form>
  <a href="/users/new">Create an Account</a>
</div>
